* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

body {
    background-image: url('../images/bg-body.png');
}
/*Header*/

.logo {
    position: relative;
    margin-left: 35%;
    width: 30%;
    border-radius: 150px;
}

#icono {
    position: relative;
    width: 30vw;
    height: 10vh;
    font-size: 40px;
    top: 5vh;
    left: -18vw;
}
#estilo {
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: #2E2E2E;
}

.main-nav ul li  {
    border-bottom: 1px solid white;
}


/*Pagina*/
.more{
    background-color: #2E2E2E;
    height: 10%;
    font-size: 234%;
    padding: 20px;
}

.product{
    margin-bottom: 25px;
}

.zoom{
    background-color: rgba(1, 1, 1, 0.6);
    display: block;
    text-align: center;
    position: relative;
    bottom:276px;
}


/*footer*/

.main-footer ul li{
    list-style: none;
    text-align: center;
    background-color: #2E2E2E;
    margin-right: 61px;


}

/*Imagenes*/

.photo-container{
    position: relative;
}

.photo{
    position: relative;
    width: 100%;
    height: 25vh;
}

.special{
    position: absolute;
    z-index: 10;
    margin-left: 76%;
    top: 0%;
    width: 20vw;
}