* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

body {
    background-image: url('../images/bg-body.png');
}


/*Header*/

.logo {
    position: relative;
    margin-left: 35%;
    width: 30%;
    border-radius: 150px;
    border: 1px solid #CACACA;
}

#icono {
    position: relative;
    width: 30vw;
    height: 10vh;
    font-size: 40px;
    top: 5vh;
    left: -19vw;
}

#estilo {
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: #2E2E2E;
    margin-top: 35px;
}

.main-nav ul li {
    border-bottom: 1px solid white;
}


/*Pagina*/

.more {
    background-color: #2E2E2E;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 70px;
    margin-top: 25px;
}

.zoom {
    background-color: rgba(1, 1, 1, 0.6);
    display: block;
    text-align: center;
    position: relative;
    bottom: 12vh;
    font-size: 22px;
}


/*footer*/

.main-footer ul li {
    list-style: none;
    text-align: center;
    background-color: red;
    border-bottom: 1px solid white;
    margin-right: 0px;
    margin-left: -41px;
}

#lista-footer {
    margin-top: 49px;
}


/*Imagenes*/

.photo-container {
    position: relative;
}

.photo {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-top: 54px;
}

.special {
    position: absolute;
    z-index: 10;
    margin-left: -25%;
    top: 54px;
    width: 20vw;
}

.banner {
    display: none;
}


/* Table */

@media(min-width:426px) and (max-width: 768px) {
    #estilo {
        display: flex;
        justify-content: space-around;
        font-size: 100%;
    }
    .main-nav ul li {
        padding: 26px;
        margin: 0px;
    }
    #icono {
        display: none;
    }
    .estilo {
        background-color: rgba(0, 0, 0, 1);
    }
    .zoom {
        bottom: 16vh;
    }
    /* Imagenes */
    .special {
        margin-left: -25%;
        width: 10vw;
    }
    .banner {
        display: block;
    }
    .photo {
        height: 28vh;
    }
    /* Flexbox productos*/
    .vip-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product {
        width: 48vw;
    }
    /* Header enlaces*/
    #estilo {
        background-color: unset;
    }
    #home {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
        margin-left: -1px;
    }
    #quienes {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #servicios {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #portfolio {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #sucursales {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #contacto {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: -1px;
    }
}

@media(min-width: 769px) {
    .logo {
        margin-left: 41%;
        width: 18%;
        border-radius: 237px;
    }
    #icono {
        display: none;
    }
    #estilo {
        display: flex;
        justify-content: space-around;
        font-size: 100%;
    }
    .main-nav ul li {
        padding: 26px;
        margin: 0px;
    }
    /* Header enlaces*/
    #estilo {
        background-color: unset;
    }
    #home {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
        margin-left: 39px;
    }
    #quienes {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #servicios {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #portfolio {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #sucursales {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #contacto {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 41px;
    }
    /* Flexbox productos*/
    .vip-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        width: 350px;
        margin-bottom: 30px;
        margin-left: 31px;
        margin-right: 44px;
        padding-left: 17px;
    }
    /* Imagenes */
    .special {
        margin-left: -31%;
        width: 7vw;
    }
    .banner {
        display: block;
        width: 1180px;
        margin-left: 48px;
        margin-bottom: 30px;
    }
    .photo {
        height: 28vh;
    }
    /* Footer */
    .main-footer {
        background-color: red;
        margin-top: 30px;
        padding: 18px;
        padding-top: 5px;
        border-radius: 22px;
        border: 7px solid red;
        margin-right: 25px;
        margin-left: 25px;
    }
    .main-footer ul li {
        display: inline;
        margin-left: 10px;
    }
    .main-footer li+li:before {
        content: ' | ';
        padding: 0 5px;
        font-weight: bold;
        color: white;
    }
    #lista-footer {
        text-align: center;
    }
}