* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-body.png');
    font-family: 'Fira Mono', monospace;
}


/*Header*/

.logo {
    position: relative;
    margin-left: 35%;
    width: 30%;
    border-radius: 150px;
    border: 1px solid #CACACA;
}

#icono {
    position: relative;
    width: 30px;
    height: 70px;
    font-size: 40px;
    top: 40px;
    left: -88px;
}

#color-icono{
    color: black;
}

#estilo {
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: #2E2E2E;
    margin-top: 35px;
}

.main-nav ul li {
    border-bottom: 1px solid white;
}

.main-nav li {
    text-decoration: none;
}

.main-nav a {
    text-decoration: none;
}

.main-nav b {
    color: white;
}


/*Pagina*/

.more {
    background-color: #2E2E2E;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 70px;
    margin-top: 25px;
}

.zoom {
    background-color: rgba(1, 1, 1, 0.6);
    display: block;
    text-align: center;
    position: relative;
    bottom: 12vh;
    font-size: 22px;
}

.product b{
    color: white;
}


/*footer*/

.main-footer ul li {
    list-style: none;
    text-align: center;
    background-color: #8A2222;
    margin-right: 0px;
    margin-left: -41px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.main-footer a{
    text-decoration: none;
}

.main-footer b{
    color: white;
}

#lista-footer {
    margin-top: 49px;
}


/*Imagenes*/

.photo-container {
    position: relative;
}

.photo {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-top: 54px;
}

.special {
    position: absolute;
    z-index: 10;
    margin-left: -25%;
    top: 54px;
    width: 20vw;
}

.banner {
    display: none;
}


/* Tablet */

@media(min-width: 768px) and (max-width: 1023px) {
    #estilo {
        display: flex;
        justify-content: space-around;
        font-size: 100%;
    }
    #icono {
        display: none;
    }
    .estilo {
        background-color: rgba(0, 0, 0, 1);
    }
    .zoom {
        bottom: 16vh;
    }
    /* Imagenes */
    .special {
        margin-left: -25%;
        width: 10vw;
    }
    .banner {
        display: block;
    }
    .photo {
        height: 28vh;
    }
    /* Flexbox productos*/
    .vip-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product {
        width: 48vw;
    }
    /* Header enlaces*/
    #estilo {
        background-color: unset;
    }
    #home {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
        margin-left: -1px;
    }
    #quienes {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #servicios {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #portfolio {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #sucursales {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: 27px;
    }
    #contacto {
        background-color: #2E2E2E;
        padding: 11px;
        margin-right: -1px;
    }
}

@media(min-width: 1024px) {
    .logo {
        margin-left: 41%;
        width: 18%;
        border-radius: 237px;
    }
    #icono {
        display: none;
    }
    #estilo {
        display: flex;
        justify-content: space-around;
        font-size: 100%;
    }
    .main-nav ul li {
        padding: 26px;
        margin: 0px;
    }
    /* Header enlaces*/
    #estilo {
        background-color: unset;
    }
    #home {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
        margin-left: 4px;
    }
    #quienes {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #servicios {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #portfolio {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #sucursales {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 20px;
    }
    #contacto {
        background-color: #2E2E2E;
        width: 150px;
        height: 50px;
        padding: 16px;
        margin-right: 5px;
    }
    /* Flexbox productos*/
    .vip-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        width: 400px;
        margin-bottom: 30px;
    }
    /* Imagenes */
    .special {
        width: 7vw;
    }
    .banner {
        display: block;
        width: 1000px;
        margin-left: 3px;
        margin-bottom: -30px;
    }
    .photo {
        height: 28vh;
    }
    /* Footer */
    .main-footer {
        background-color: #8A2222;
        margin-top: 30px;
        padding: 18px;
        padding-top: 5px;
        border-radius: 22px;
        border: 7px solid #8A2222;
        margin-right: 25px;
        margin-left: 25px;
    }
    .main-footer ul li {
        display: inline;
        margin-left: 10px;
    }
    .main-footer li+li:before {
        content: ' | ';
        padding: 0 5px;
        font-weight: bold;
        color: white;
    }
    #lista-footer {
        text-align: center;
    }
    .main-footer ul li {
        padding-bottom: none;
        border-bottom: none;
    }
}

@media(min-width: 1440px) and (max-width: 1919px){
    #home {
        padding: 16px;
        margin-left: 18px;
    }
    #quienes {
        width: 218px;
    }
    #servicios {
        width: 218px;
    }
    #portfolio {
        width: 218px;
    }
    #sucursales {
        width: 218px;
    }
    #contacto {
        width: 218px;
    }
    .banner{
        width: 1400px;
        margin-left: 20px;
    }

    .product{
        width: 450px;
        margin-left: 15px;
    }
    .main-footer ul li {
        padding-bottom: none;
        border-bottom: none;
    }

}

@media(min-width: 1920px) {
    #home {
        margin-left: 22px;
        width: 210px;
    }
    #quienes {
        width: 210px;
    }
    #servicios {
        width: 210px;
    }
    #portfolio {
        width: 210px;
    }
    #sucursales {
        width: 210px;
    }
    #contacto {
        width: 210px;
        margin-right: 22px;
    }
    .banner{
        width: 1800px;
        margin-left: 45px;
    }

    .product{
        width: 543px;
    }
    .main-footer ul li {
        padding-bottom: none;
        border-bottom: none;
    }
}
