<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Responsive Web Design</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7a118e242d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="../public/images/logo-restaurante.png">
</head>

<body>

    <div class="container">

        <!-- cabecera -->
        <header class="main-header">
            <img src="../public/images/logo.jpg" alt="logotipo" class="logo">
            <a href="#" class="toggle-nav" id="color-icono">
                <span id="icono" class="fa fa-bars"></span>
            </a>

            <nav class="main-nav">
                <ul id="estilo">
                    <li id="home">
                        <a href="#">
                            <b>HOME</b>
                        </a>
                    </li>
                    <br>
                    <li id="quienes">
                        <a href="#">
                            <b>QUIENES</b>
                        </a>
                    </li>
                    <br>
                    <li id="servicios">
                        <a href="#">
                            <b>SERVICIOS</b>
                        </a>
                    </li>
                    <br>
                    <li id="portfolio">
                        <a href="#">
                            <b>PORTFOLIO</b>
                        </a>
                    </li>
                    <br>
                    <li id="sucursales">
                        <a href="#"><b>SUCURSALES</b>
                        </a>
                    </li>
                    <br>
                    <li id="contacto">
                        <a href="#">
                            <b>CONTACTO</b>
                        </a>
                </li>
                </ul>
            </nav>
        </header>

        <!-- banner -->
        <section class="banner">
            <img src="../public/images/img-banner.jpg" alt="banner" style="width: 100%">
        </section>

        <!-- productos -->
        <section class="vip-products">
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="../public/images/img-pdto-1.jpg" alt="pdto 01">
                    <img class="special" src="../public/images/img-nuevo.png" alt="plato nuevo">
                    <a class="zoom" href="#" style="text-decoration: none;"><b>Ampliar
                            foto</b></a>
                </div>
                <h2>Lorem ipsum amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a class="more" href="#" style="text-decoration: none;"><b>Ver más</b></a>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="../public/images/img-pdto-2.jpg" alt="pdto 02">
                    <img class="special" src="../public/images/img-gratis.png" alt="gratis más de 3">
                    <a class="zoom" href="#" style="text-decoration: none;"><b>Ampliar
                            foto</b></a>
                </div>
                <h2>Lorem ipsum amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a class="more" href="#" style="text-decoration: none;"><b>Ver más</b></a>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="../public/images/img-pdto-3.jpg" alt="pdto 03">
                    <img class="special" src="../public/images/img-descuento.png" alt="descuento efectivo">
                    <a class="zoom" href="#" style="text-decoration: none;"><b>Ampliar
                            foto</b></a>
                </div>
                <h2>Lorem ipsum amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a class="more" href="#" style="text-decoration: none;"><b>Ver más</b></a>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="../public/images/img-pdto-1.jpg" alt="pdto 01">
                    <img class="special" src="../public/images/img-gratis.png" alt="gratis más de 3">
                    <a class="zoom" href="#" style="text-decoration: none;"><b>Ampliar
                            foto</b></a>
                </div>
                <h2>Lorem ipsum amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a class="more" href="#" style="text-decoration: none;"><b>Ver más</b></a>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="../public/images/img-pdto-2.jpg" alt="pdto 02">
                    <img class="special" src="../public/images/img-nuevo.png" alt="plato nuevo">
                    <a class="zoom" href="#" style="text-decoration: none;"><b>Ampliar
                            foto</b></a>
                </div>
                <h2>Lorem ipsum amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a class="more" href="#" style="text-decoration: none;"><b>Ver más</b></a>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="../public/images/img-pdto-3.jpg" alt="pdto 03">
                    <img class="special" src="../public/images/img-descuento.png" alt="descuento efectivo">
                    <a class="zoom" href="#" style="text-decoration: none;"><b>Ampliar
                            foto</b></a>
                </div>
                <h2>Lorem ipsum amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a class="more" href="#" style="text-decoration: none;"><b>Ver más</b></a>
            </article>
        </section>

        <footer class="main-footer">
            <ul id="lista-footer">
                <li><a href="#"><b>HOME</b></a></li>
                <li><a href="#"><b>QUIENES</b></a></li>
                <li><a href="#"><b>SERVICIOS</b> </a></li>
                <li><a href="#"><b>PORTFOLIO</b> </a></li>
                <li><a href="#"><b>SUCURSALES</b> </a></li>
                <li><a href="#"><b>CONTACTO</b> </a></li>
            </ul>
        </footer>
    </div>

</body>

</html>